.container {
    flex-direction: column;
    flex: 1
}

.liftNameInput {
    flex-shrink: 1;
    padding: 0.4em 0.8em;
    font-weight: bold;
    border-radius: var(--br-md);
    background-color: var(--fg-color);
    outline: none;
    text-transform: capitalize;
}

.liftNameRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteLiftButton {
    align-items: center;
    font-weight: bold;
    color: var(--fg-color);
    justify-content: flex-end;
}

.deleteLiftButtonIcon {
    margin-right: 0.2em;
    margin-top: 0.2em;
}

.addSetButton {
    justify-content: center;
    align-items: center;
    border: var(--layout-border);
    padding: 0.25em 1.5em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: var(--br-md);
    white-space: nowrap;
}

.liftSetTable {
    font-size: 1em;
    color: var(--font-secondary);
    padding: 0 0.2em;
}

.liftFooter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0.8em;
}

.col > input {
    max-width: 4em;
    font-weight: bold;
    padding: 0;
}

.deleteSetColumn {
    padding-left: 3em;
}

.bold {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--font-primary);
}

.deleteSetIcon {
    color: var(--fg-color);
    margin-top: 0.5em
}