.listContainer {
    
    flex-direction: column;
    row-gap: 1em;
}

.placeHolder {
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    border: 0.2em dashed var(--mg-color);
    position: absolute;
    border-radius: var(--br-md);
    pointer-events: none;
}

.pageNumber {
    font-size: var(--font-size-md);
    font-weight: bold;
    color: var(--fg-color);
    text-align: center;
    cursor: pointer;
    /* padding: 0.1em; */
    width: 1.5em;
    align-items: center;
    justify-content: center;
    transition: var(--transition-md);
}

.pageNumber:hover {
    color: var(--font-secondary);
}

.pageNumber:active {
    color: var(--mg-color)
}

.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    color: var(--fg-color);
}


.pageButton {
    flex-shrink: 1;
    cursor: pointer;
    align-items: center;
    transition: var(--transition-md);
}

.pageButton:hover {
    color: var(--font-primary);
}

.pageButton:active {
    color: var(--font-secondary);
}

.pageBackButton {
    justify-content: flex-start;
}

.pageNextButton {
    justify-content: flex-end;
}

.pageNumbers{
    overflow: hidden;
    /* flex: 1; */
    /* justify-content: center; */
}



.selected {
    background-color: var(--bg-color);
    color: var(--font-primary);
}