.container {
    flex-direction: column;
    
    border-radius: var(--br-md);
    background-color: var(--bg-color);
    border: var(--layout-border);
    padding: 1.5em;
    row-gap: 1em;
    overflow:hidden;
    flex: 1;
    transition: border-color var(--transition-md);
}

.clickableContainer {
    cursor: pointer
}

.clickableContainer:hover {
    border-color: var(--fg-color);
}

.clickableContainer:active {
    border-color: var(--font-secondary);
}

.dateHeader {
    white-space: nowrap;
    overflow: hidden;
}

.mainDetailsContainer {
    flex: 1;
    
    justify-content: space-between;
    row-gap: 0.25em;
}

.detailsContainer {
    
    row-gap: 0.25em;
    flex-direction: column;
}

.badgeListContainer {
    
    column-gap: 0.75em;
}

.statsListContainer {
    
    column-gap: 0.75em;
    overflow-x: scroll;
}


.liftListContainer {
    
    overflow: scroll;
    column-gap: 1.5em;
}

.summaryContainer {
    overflow-x: scroll;
    flex-direction: column;
}

.summaryFooter {
    flex: 1;
    
    justify-content: flex-end;
}

.expandedDateHeader {
    
    align-items: center;
}

.closeIcon {
    margin-top: 0.25em;
    transition: var(--transition-md);
    cursor: pointer;
    padding: 1em 0.5em;
    box-sizing: content-box;
    color: var(--font-secondary);   
}


.closeButton {
    
    padding-right: 1em;
    align-items: center;
    justify-content: center;
}

.closeIcon:hover {
    margin-top: 0.25em;
    color: var(--font-primary);   
}

.closeIcon:active {
    margin-top: 0.25em;
    color: var(--fg-color);   
}