.container {
    /* color: var(--fg-color); */
    cursor: pointer;
    user-select: none;
    transition: var(--transition-md);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortText {
    margin: 0;
    margin-right: 0.5em
}

/* .icon {
    margin-left: 0.2em
} */
