.container {
    align-items: center;
    
    color: var(--font-secondary);
}

.label {
    color: var(--font-secondary);
}

.statCircle {
    width: 1.25em;
    height: 1.25em;
    margin: 0 0.25em;
    border-radius: 50%;
    border: 2px solid var(--font-secondary);
    
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--font-secondary);
}

.positive {
    border-color: var(--positive-color);
    color: var(--positive-color);
}

.negative {
    border-color: var(--negative-color);
    color: var(--negative-color);
}