.layout {
    flex: 1;
    font-size: 1em;
    flex-direction: column;
}

.liftEditorViews {
    flex: 1;
    flex-direction: column;
    row-gap: 2em;
}

.addLiftButton {
    justify-content: center;
    align-items: center;
    border: var(--layout-border);
    padding: 0.25em 1.5em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: var(--br-md);
    white-space: nowrap;
}