.layout {
  flex-direction: column;
  row-gap: 2em;
  padding-bottom: 2em;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32em;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--fg-color);
  border-bottom: var(--layout-border);
}

.logoBadge {
  color: var(--font-primary);
  background-color: var(--fg-color);
  padding: 0.5em 1em;
  border-radius: var(--br-md);
}

.heroOverlayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.heroOverlayShadow {
  box-shadow: 0 0 50em 6em var(--bg-color);
  position: absolute;
  transform: scaleX(1.8);
}

.heroOverlayButtons {
  z-index: 100;
  justify-content: space-between;
  column-gap: 1em;
  margin-top: 1em;
}
.heroOverlayButtons > button {
  font-size: 1em;
}

.heroCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

@media (max-width: 1024px) {
  .heroCards {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 2em;
  }
}

.heroCardContainer {
  border-radius: var(--br-md);
  background-color: var(--bg-color);
  border: var(--layout-border);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4em;
  row-gap: 1em;
}

.heroCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  background-color: var(--bg-color);
  border-bottom: var(--layout-border);
}

.heroCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  width: 8em;
}

.heroCardHeaderText {
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0.5em;
}

.heroOverlaySubtext {
  font-size: 0.8em;
  text-align: center;
  color: var(--font-secondary);
  transition: var(--transition-md);
  z-index: 100;
}

.heroOverlaySubtext:hover {
  color: var(--font-primary);
}

.heroOverlaySubtext:active {
  color: var(--font-secondary);
}
