.nav {
  height: var(--navbar-height);
  border-bottom: 2px solid var(--mg-color);
  background-color: var(--bg-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100000;
  flex-direction: row;
  align-items: center;
  padding: 0 2em;
  justify-content: space-between;
}

.nav > .navBtn {
  display: none;
}

.nav > .navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  column-gap: 2em;
  font-weight: bold;
}

.nav > .navLinks > a {
  display: inline-block;
  text-decoration: none;
  color: #efefef;
}

.nav > .navLinks > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #navCheck {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    padding: 0 1em;
  }
  .nav > .navBtn {
    display: inline-block;
    position: absolute;
    right: 1em;
    cursor: pointer;
  }
  .nav > .navBtn > label {
    display: inline-block;
    transition: var(--transition-md);
    cursor: pointer;
  }

  .nav > .navBtn > label:active {
    color: var(--fg-color);
  }
  .nav > .navBtn > label:hover {
    color: var(--font-secondary);
  }
  .nav #navCheck:checked ~ .navBtn > label {
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* color: var(--font-primary); */
    cursor: pointer;
  }
  .rightContent {
    display: none;
  }
  .nav > .navLinks {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    height: 0px;
    padding: 0.5em;
    transition: var(--transition-md);
    overflow-y: hidden;
    top: var(--navbar-height);
  }
  .nav > .navLinks > a {
    display: block;
    width: 100%;
  }
  .nav > #navCheck:not(:checked) ~ .navLinks {
    height: 0px;
  }
  .nav > #navCheck:checked ~ .navLinks {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.leftContent {
  font-size: 1em;
  font-weight: bold;
  color: var(--font-primary);
  cursor: pointer;
  width: 8em;
  column-gap: 1em;
}

.rightContent {
  width: 8em;
  justify-content: flex-end;
}

.navLinkContainer:hover {
  color: var(--font-secondary);
}

.navLinkHere {
  color: var(--font-primary);
}

.navLinkContainer {
  transition: var(--transition-md);
  padding: 1em 0;
  color: var(--fg-color);
}

.locationIndicator {
  width: 3em;
  height: 0.25em;
  margin-top: 0.5em;
  background-color: var(--font-primary);
}
