.layout {
    display: grid;
    grid-template-columns: 2fr 3fr; 
    grid-template-areas: "sidebar content";
    grid-gap: 1em;
    padding: 1em 2em;
    width: 100vw;
    height: 100vh;
}

/* change grid layout when smaller screen */
@media (max-width: 1024px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar"
                             "content";
    }
}

@media (max-width: 1024px) {
    .content {
        display: none;
    }
}

.fileUpload {
    border: var(--layout-border);
    border-radius: var(--br-md);
    border-style: dashed;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
}

.fileUploadInformation {
    padding: 0em 1em;
    flex-direction: column;
    align-items: flex-start;
}

.selectedWorkout {
    grid-area: workout;
    
}

.selectedWorkoutInfo {
    flex: 1;
    overflow: hidden;
}

.sidebar {
    grid-area: sidebar;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: 2em;
}

.sidebarHeader {
    
    flex-direction: column;
    row-gap: 1em;
}

.content {
    flex-direction: column;
    row-gap: 1em;
    grid-area: content;
    padding: 1em;
    overflow: scroll;
}

.statisticsContent {
    background-color: var(--bg-color);
    border: var(--layout-border);
    border-radius: var(--br-md);
    width: 100%;
    padding: 1em;
    height: 800px;
    /* overflow: hidden; */
    flex-direction: column;
}

.itemOverlay {
    z-index: 10;
    position: fixed;
    top: calc(var(--navbar-height) + 1em);
    bottom: 1em;
    left: 1em;
    right: 1em;
    display: block;
}

.filters {
    align-items: center;
    column-gap: 0.5em;
}

.resultsLengthText {
    color: var(--fg-color);
    font-size: 0.9em;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.searchContainer {
    align-items: center;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
}
.contentHeader {
    justify-content: space-between;
}

.contentHeaderBadges{ 
    flex-direction: row;
    column-gap: 1em;
}